body {
    text-align: center;
    margin: -40px;
}

canvas{
	margin-bottom: -1vh;
}

h2{
	margin-top: 2vh;
	margin-bottom: 0;
	font-size: 4vw;
}

.column{
	width: 24vw;
	height: 7vh;
/*	border: 1px black solid;
*/	margin-top: -7vh;
 	display:inline-block;
}

#mainDiv{
/*	border: 1px red solid;
*/}

#canvasGems{
/*    border: 1px black solid;
*/    width: 75%;
	fill: white;
}

/*@media screen and (min-width: 1240px) {
    h2 {
       font-size: 20vw;
    }
}
*/

